.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	white-space: nowrap;
	text-align: center;
	transition: color 0.5s, background 0.5s, border 0.5s;
	padding: 0.8rem;
	border-radius: 50px;
	font-size: 2.2rem;
	letter-spacing: -0.03em;
	border: 1px solid rgba(white,0.25);
	font-family: $primary-f2;
	&:hover {
		background: white;
		color: black;
	}

	&--fill {
		background: $primary;
		color: white;
		line-height: 5.4rem;
		&:hover {
			border-color: $primary;
			color: $primary;
		}
	}


    @media screen and (max-width:$large_tablet) {
    	font-size: 1.6rem;
		padding: 0.5rem;
    }


	&__text {
		flex-grow: 1;
		text-align: center;
		padding: 0px 1rem;
    	@media screen and (max-width:$large_tablet) {
    		padding: 0px 0.8rem;
    	}

	}

	&__texts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__text2 {
		font-size: 1.7rem;
		padding-left: 1rem;
		color: $color--gray;
		font-family: $primary-f;
    	@media screen and (max-width:$large_tablet) {
    		padding: 0px 0.8rem;
    	}
	}
	

	&--empty {
		background: inherit;
	}


	&--primary {
		background: blue;
		color: white;
	}

	&--link {
		border: 1px solid rgba(255,255,255,0.2);
		padding: 0.4rem; 
		font-weight: 300;
		line-height: 1;
		display: flex;
		align-items: center;
		text-transform: initial;
		  @media screen and (max-width:$large_tablet) {
    		padding: 0.2rem;
    	}
	}

	&__arrow {
		border-radius: 50%;
		width: 5rem;
		flex-shrink: 0;
		background: $primary;

		.btn--blue & {
			background: rgba(white,0.2);
		}
	    	@media screen and (max-width:$large_tablet) {
	    		width: 4rem;
	    	}


		.btn--link & {
			width: 3.5rem;

	    	@media screen and (max-width:$large_tablet) {
	    		width: 2.6rem;
	    	}

		}



		> div {
			padding-bottom: 100%;
			width: 100%;
			position: relative;

			div {
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			svg {
				width: 40%;
				height: auto;
				*:not(.none-fill) {
					fill: white;
				}
			}
		}
	}

}