.cta {
	padding: 20rem 0px;
	position: relative;

	@media screen and (max-width:$large_tablet) {
		padding: 10rem 0px;
	}



    &__bg {
        position: absolute;
        background: $bg--white;
        width: 100%;
        height: 15rem;
        top: -1px;
        z-index: 1;
        transform: scaleY(1);
        transform-origin: top;

		@media screen and (max-width:$large_tablet) {
	        height: 7.5rem;
		}

    }


	&__main-title {
		text-align: center;
		font-size: 10rem;
		font-family: $primary-f2;
		line-height: 110%;
		letter-spacing: -0.05em;
		margin-bottom: 10rem;
    	@media screen and (max-width:$large_tablet) {
    		font-size: 4rem;
    		line-height: 100%;
    		margin-bottom: 5rem;
    	}

	}

	.center-wrap {
		position: relative;
		z-index: 2;
		@media screen and (min-width:$large_tablet) {
			max-width: 140rem;
		}
	}
	&__wrap {
		display: flex;
		gap: 10rem;
		align-items: center;
		@media screen and (max-width:$large_tablet) {
			flex-direction: column;
			gap: 5rem;
		}

	}




	&__tabs {
		border-radius: 10rem;
		border: 1px solid rgba(white,0.15);
		display: flex;
		font-size: 2.2rem;
		letter-spacing: -0.03em;
		font-family: $primary-f2;
		line-height: 6rem;
		@media screen and (max-width:$large_tablet) {
			font-size: 1.4rem;
			line-height: 4.5rem;
		}

	}

	&__tab {
		padding: 0px 2rem;
		border: 1px solid transparent;
		transition: all 0.5s;
		position: relative;
		@media screen and (max-width:$large_tablet) {
			padding: 0px 1.2rem;
			white-space: nowrap;
		}


		&.toogles__item-title--active {
			border-color: $primary;
			border-radius: 10rem;
			background: $primary;
			
			&::before {
				opacity: 1;
			}
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__title {
		font-size: 6.5rem;
		line-height: 1;
		font-family: $primary-f2;
		margin: 3rem 0px;
		
		@media screen and (max-width:$large_tablet) {
			font-size: 3rem;
			margin-bottom: 2rem;
		}


		[data-toogles='2'] & {
			@media screen and (min-width:$large_tablet) {
				font-size: 5.75rem;
			}
		}
	}

	&__text {
		font-size: 2.5rem;
		line-height: 140%;
		color: $color--gray;
		@media screen and (max-width:$large_tablet) {
			font-size: 1.6rem;
		}

	}

	.form {
		max-width: 48rem;
		width: 100%;
	}
}