.header {
	padding-top: 3.5rem;
	top: 0px;
	left: 0;
	width: 100%;
	z-index: 2;
	color: white;
	position: fixed;
	z-index: 98;
	mix-blend-mode: difference;
	transition:  padding-top 1s;
	@media screen and (min-width:$large_tablet) {

		&--home:not(.header--fixed) {
			mix-blend-mode: initial;
		}
	}

        
	&:hover {
		overflow: initial;
	}

	@media screen and (max-width:$large_tablet) {
		padding: 1rem 0;
	}


	&--fixed {
		padding-top: 1rem;
		mix-blend-mode: difference;
		overflow: hidden;

		.header {

			&__logo {
				@media screen and (min-width:$large_tablet) {
					font-size: 4rem;
				}
				color: #fff;
			}

			&__wrap {
				border-radius: 50px;
			}


			&__btn .btn {
				border-color: white;
			}

		}

	}

	&--black {
		background: #000;
		box-shadow: 0px 1px 36px 13px rgba(0, 0, 0, 0.03);

		.header {
			&__burger {
				div {
					border-bottom-color: #fff;
				}
			}
		}
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

	}

	&__logo {
		font-size: 7rem;
		transition:  font-size 1s;
		letter-spacing: -0.03em;
		color: $white2;
		font-weight: 500;
		font-family: $primary-f2;
		line-height: 0.7;

		@media screen and (min-width:$large_tablet) {
			.header:not(.header--home) &{
				font-size: 7rem;
			}
		}

		@media screen and (max-width:$large_tablet) {
			font-size: 3rem;
			font-weight: 400;
		}

	}

	&__nav {
		&-list {
			display: flex;
			align-items: center;
			gap: 3rem;
		}


		&-link {
			position: relative;
			font-size: 2.4rem;
			letter-spacing: -0.04em;
			font-weight: 300;

			&::before {
				content: "";
				position: absolute;
				left: 0px;
				bottom: -2px;
				width: 100%;
				height: 1px;
				background: $primary-c;
				transform: scaleX(0);
				transition: transform .5s;
			}

			&:hover::before {
				transform: scaleX(1);
			}
		}
	}
	&__btn {
		margin-left: 5rem;
		@media screen and (max-width:$large_tablet) {
			display: none;
		}

		header:not(.header--home) & .btn__arrow {
			background: white;
			svg * {
				fill: black !important;
			}
		}

	}


	&__burger {
		display: flex;
		align-items: center;
		font-weight: 300;
		cursor: pointer;
		flex-shrink: 0;
		border: 1px solid white;
		border-radius: 10rem;
		transition: all 0.5s;
		@media screen and (min-width:$large_tablet) {
			display: none;
		}

		@media screen and (max-width:$large_tablet) {
			padding-left: 1rem;
			gap: 0.5rem;
			font-size: 1.5rem;
		}


		&-wrap {
			height: 6.4rem;
			width: 6.4rem;
			border-radius: 50%;
			border: 1px solid white;
			margin-right: -1px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			display: flex;
			flex-wrap: wrap;

		@media screen and (max-width:$large_tablet) {
			height: 3.8rem !important;
			width: 3.8rem !important;
		}



			> div {
				display: flex;
				gap: 0.6rem;
				flex-shrink: 0;
				@media screen and (max-width:$large_tablet) {
					gap: 0.4rem !important;
				}

				&:nth-child(1) {
					margin-bottom: 0.6rem;
					@media screen and (max-width:$large_tablet) {
						margin-bottom: 0.4rem !important;
					}

				}
				> div {
					height: 0.5rem;
					width: 0.5rem;
					background: white;
					border-radius: 1px;
					flex-shrink: 0;

					@media screen and (max-width:$large_tablet) {
					height: 0.35rem !important;
					width: 0.35rem !important;
					}

				}
			}
		}
	}
}