.inputs {
    width: 100%;

    &__field {
        width: 100%;
        color: $primary-c;
        font-weight: 600;
        padding-top: 1.2rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        border: none;
        background-color: inherit;
        line-height: 5rem;
        -webkit-appearance: none;
        -moz-appearance: textfield;

        &[type='tel'] {
            &::placeholder {
                color: $primary-c;
            }
        }

        @media screen and (max-width:$large_tablet) {}

        &-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.6rem;

            .inputs__field-wrap {
                width: calc(50% - (1.5rem / 2));
                margin-bottom: 0;
            }
        }

        &-wrap {
            width: 100%;
            position: relative;
            overflow: hidden;
            margin-bottom: 3.8rem;

            @media screen and (max-width:$large_tablet) {}

            &--textarea {
                margin-bottom: 5rem;
                position: relative;
                padding-top: 2rem;

                &.is-focused {
                    .inputs__content {
                        top: 0;
                        // font-size: 1.2rem;
                        border: none;

                        &::before {
                            opacity: 0;
                        }
                    }
                }

                &.inputs__field--invalid {
                    .inputs__content {
                        top: 0;
                        font-size: 1.6rem;
                        color: $danger-c;

                        &::before {
                            opacity: 0;
                        }
                    }
                }

                @media screen and (max-width:$large_tablet) {}

                .inputs__field {
                    resize: none;
                    padding: 0;
                    line-height: 1.2;
                    min-height: 7rem;

                    @media screen and (max-width:$large_tablet) {
                        min-height: 10rem;
                    }

                    &:invalid.inputs__field--invalid {
                        &+.inputs__content {
                            color: $danger-c;
                            top: 0;
                            font-size: 1.2rem;

                            &::before {
                                opacity: 0;
                            }
                        }
                    }

                    scrollbar-width: thin;
                    scrollbar-color: $secondary-c transparent;

                    &::-webkit-scrollbar-thumb {
                        background: $secondary-c !important;
                        border-radius: 10rem;
                    }

                    &::-webkit-scrollbar {
                        width: 0.5rem;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: 10rem;
                        background: $primary-c;
                    }
                }

            }
        }

        &:focus {
            outline: none;
        }

        &.inputs__field--active.inputs__field--invalid+.inputs__label .inputs__content,
        &.inputs__field--active+.inputs__label .inputs__content,
        &:focus+.inputs__label .inputs__content,
        &:hover+.inputs__label .inputs__content {
            top: 0.5rem;
            font-size: 1.2rem;
            color: $secondary-c;
            transform: translateY(0);
        }

        &:valid.inputs__field--invalid,
        &:invalid.inputs__field--invalid {
            &+.inputs__label {
                .inputs__content {
                    color: $danger-c;
                    transform: translateY(0);
                    top: 0.5rem;
                    font-size: 1.2rem;
                }

                &::after {
                    right: 0;
                    border-bottom-color: $danger-c;
                }
            }
        }

        &:hover+.inputs__label .inputs__content:before,
        &:focus+.inputs__label .inputs__content:before,
        &:valid+.inputs__label .inputs__content:before,
        &:invalid.inputs__field--invalid+.inputs__label .inputs__content::before {
            opacity: 0;
        }

        &:hover+.inputs__label::after,
        &:focus+.inputs__label::after {
            right: 0;
            border-bottom-color: $secondary-c;
        }
    }

    &__label {
        position: absolute;
        bottom: 1px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid $primary-c;

        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            right: 100%;
            width: 100%;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $secondary-c;
            transition: right 0.5s ease;
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        transition: all .3s ease;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 160%;
        color: $secondary-c;

        @media screen and (max-width:$large_tablet) {
            // font-size: 1.3rem;
        }

        &::before {
            content: "*";
            color: $secondary-c;
            position: absolute;
            left: calc(100% + 0.5rem);
            top: 0;
            transition: all .5s;
        }
    }

    &__checkbox {
        max-width: 60rem;
        width: 100%;
        margin: 0 auto 5rem;

        @media screen and (max-width:$large_tablet) {
            margin: 0 auto 3rem;
        }

        &-input {
            position: absolute;
            width: 0px;
            height: 0px;
            overflow: hidden;
            clip: rect(0 0 0 0);

            &:checked+.inputs__checkbox-content {
                border-color: $secondary-c;

                &::before {
                    background-color: rgba($secondary-c, 1);
                }
            }
        }

        &-label {
            padding-left: calc(2.7rem + 2rem);
            font-size: 1.2rem;
            line-height: 160%;
            color: $secondary-c;
            position: relative;
            cursor: pointer;
            display: inline-block;

            @media screen and (max-width:$large_tablet) {}
        }

        &-content {
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 2rem;
            width: 2rem;
            border: 1px solid $secondary-c;

            .inputs__field--invalid+& {
                border-color: $danger-c;
            }

            background: inherit;
            display: inline-block;
            transition: all .5s;
            cursor: pointer;

            @media screen and (max-width:$large_tablet) {
                // top: 0;
                // transform: initial;
                // height: 1.6rem;
                // width: 1.6rem;
            }

            &::before {
                content: ' ';
                position: absolute;
                height: 1.2rem;
                width: 1.2rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba($secondary-c, 0);
                display: inline-block;
                transition: all .5s;

                @media screen and (max-width:$large_tablet) {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }

    &__btn {
        text-align: center;
    }
}