.mission {
    padding: 20rem 0px;
    margin-bottom: 30rem;
    position: relative;
    background: $bg--white;


        @media screen and (max-width:$large_tablet) {
            padding: 10rem 0px;
            margin-bottom: 10rem;
        }

    &--home {
        margin-bottom: 0px;
        padding-bottom: 10rem;
        @media screen and (max-width:$large_tablet) {
            padding-bottom: 0px;
            margin-bottom: -5rem;
        }
    }


    &__bg {
        position: absolute;
        background: $bg--black;
        width: 100%;
        height: 120%;
        top: 0rem;
        /*top: 5rem;*/
        z-index: 1;
    }

	&__wrap {
		display: flex;
		align-items: center;
        z-index: 2;
        position: relative;
        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
            gap: 5rem;
        }

	}


    &__list {
        width: 100%;
    }


	&__row {
		font-size: 7.6rem;
        font-family: $primary-f2;
		padding: 3.5rem 0px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(white,0.1);
        white-space: nowrap;
        width: 100%;

        .mission--home & {
            padding: 2rem 0px;
            @media screen and (max-width:$large_tablet) {
                padding: 1.5rem 0px;
            }
        }

        .mission--home & {

            &:nth-child(4) {
                @media screen and (min-width:$large_tablet) {
                    border-bottom: 0px !important;
                }
            }   
        
            &:nth-child(5) {
                @media screen and (max-width:$large_tablet) {
                    border-bottom: 0px !important;
                }
            }
        }



        @media screen and (max-width:$large_tablet) {
            font-size: 3rem;
            padding: 1.5rem 0px;

            &:first-child {
                font-size: 2.1rem;
                color: rgba(white,0.5);
            }

            &:nth-child(3) {
                font-size: 2.7rem;
            }
        }

        &--small {
         font-size: 4.5rem;   
        }

		&-line {
			width: 10rem;
			height: 0.6rem;
			background: rgb(white,0.3);
			margin: 2rem;
            @media screen and (max-width:$large_tablet) {
                display: none;
            }

		}

		&-dark {
			color: $color--gray;
		}
	}


    &__arrow {
        border-radius: 50%;
        width: 7rem;
        flex-shrink: 0;
        background: $primary;

        .btn--blue & {
            background: rgba(white,0.2);
        }
            @media screen and (max-width:$large_tablet) {
                width: 3.6rem;
            }


        .btn--link & {
            width: 3.5rem;

            @media screen and (max-width:$large_tablet) {
                width: 2.6rem;
            }

        }



        > div {
            padding-bottom: 100%;
            width: 100%;
            position: relative;

            div {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                width: 40%;
                height: auto;
                *:not(.none-fill) {
                    fill: white;
                }
            }
        }
    }



	&__title {
		    &-change {
		    margin: 0px 2rem;
            border: 2px solid white;
            position: relative;
            line-height: 80%;
            border-radius: 100px;
            display: inline-block;
            padding: 1rem;
            padding-left: 2.5rem;
            overflow: hidden;
            text-transform: uppercase;
            font-size: 0.9em;
            display: flex;
            flex-shrink: 0;
            @media screen and (max-width:$large_tablet) {
                padding: 0.4rem;
                margin: 0px;
                margin-right: 1rem;
            }


            &-base {
                opacity: 0;
                display: inline-block;
                padding-right: 1rem;
            }
            .at-element--finished & {
    		  border-color: white;
              transition: border-color 3s;
            }

            &-item {
                position: absolute;
                padding-left: 2.5rem;
                height: 100%;
                top: 0px;
                left: 0px;
                display: flex;
                align-items: center;
                transition: all 1s;
                transform: translateY(0%);
                opacity: 1;

                @media screen and (max-width:$large_tablet) {
                    padding-left: 0.5rem;
                }

                &--hide {
                    transform: translateY(100%);
                    opacity: 0;
                }
                &--remove {
                    transform: translateY(-100%);
                    opacity: 0;
                }

            }
    	}


	}

}