.pain {
	padding-top: 10rem;
	position: relative;

	&__gradient {
		content: "";
		position: absolute;
		left: 0px;
		width: 100%;
		height: 100%;
		background-image: url('~img/png/bg-4.png');
		background-size: cover;
		background-position: center;
		z-index: 2;
		.pain--big & {
			display: none;
		}
	}


	&__bg {
		content: "";
		position: absolute;
		left: 0px;
		width: 100%;
		bottom: 0px;
		height: 100vh;
		background: #FC1234;
		z-index: 1;

		.pain--big & {
			display: none;
		}
	}

	&--big {
		padding-bottom: 20rem;
		padding-top: 40rem;
    	@media screen and (max-width:$large_tablet) {
    		padding-top: 15rem;
    		padding-bottom: 10rem;
    	}

	}

	&__wrap {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 10rem;
		overflow: hidden;
		position: relative;
		z-index: 2;
    	@media screen and (max-width:$large_tablet) {
    		flex-direction: column;
    		gap: 5rem;
    	}

		.pain--big & {
			justify-content: space-between;
		}
	}

	.ticker {
		z-index: 2;
		position: relative;
	}

	&--white {
		background: $bg--white;
	}

	&__number {
		font-size: 15rem;
		font-weight: 500;
		font-family: $primary-f2;
		white-space: nowrap;
		line-height: 0.75;
		letter-spacing: -0.05em;
		color: #151515;
		z-index: -1;
    	@media screen and (max-width:$large_tablet) {
    		font-size: 7.55rem;
    	}


		span {
			display: inline-block;
			position: relative;
			z-index: 1;


			@for $i from 1 through 10 {
			  &:nth-child(#{$i}) {
			    z-index: 10-$i;
			  }
			}


			&:nth-child(1) {
				font-weight: 600;
			}

			& .pain__number-shadow {
				content: "";
				position: absolute;
				top: calc( 100% - 0.3em );
				left: 3%;
				width: 98%;
				height: 20rem;
				z-index: -1;
				display: block;
				

				.pain--big & {
					height: 35rem;
				}
				transform-origin: top;



				&::before {
					content: "";
					position: absolute;
					left: 0px;
					width: 100%;
					height: 100%;
					top: 0px;
					background: rgba(black,0.1);

    				@media screen and (max-width:$large_tablet) {

						.pain--big & {
							background: rgba(black,0.05);
						}
					}

					clip-path: polygon(0.15em 0.2em, 82.5% 0.2em, 82.5% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0.15em 0);
				}
			}

			&.letter-dollar .pain__number-shadow {
				width: 96%;
				left: 6%;
				

				&::before {
					clip-path: polygon(0.15em 0.1em, 82.5% 0.1em, 82.5% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0.15em 0);
					top: 0.15em;
					height: calc( 100% - 0.15em );
				}

			}

			&.letter-two .pain__number-shadow {
				width: 97%;
				left: 4%;

				&::before {
					top: 0.2em;
					height: calc( 100% - 0.2em );
					clip-path: none;
				}

			}

			&.letter-h .pain__number-shadow {
				width: 92%;
				left: 7%;

				&::before {
					top: -0.1em;
					height: calc( 100% + 0.1em );
					clip-path: none;
				}

			}

			&.letter-e .pain__number-shadow {
				width: 92%;
				left: 8%;

				&::before {
					top: 0.25em;
					height: calc( 100% - 0.25em );
					clip-path: none;
				}
			}

			&.letter-d .pain__number-shadow {
				width: 92%;
				left: 8%;

				&::before {
					clip-path: polygon(68% 8%, 100% 0, 100% 100%, 0 100%, 0 6%) !important;
					top: 0.05em;
					height: calc( 100% - 0.05em );
					clip-path: none;
				}
			}

			&.letter-c .pain__number-shadow {
				width: 97%;
				left: 5%;

				&::before {
					clip-path: polygon(0.15em 0.15em, 82.5% 0.15em, 82.5% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0.15em 0) !important;
					top: 0.05em;
					height: calc( 100% - 0.05em );
					clip-path: none;
				}
			}


			&.letter-a .pain__number-shadow {
				width: 97%;
				left: 5%;

				&::before {
					clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 100%, 0 100%, 0 10%) !important;
					top: 0.07em;
					height: calc( 100% - 0.07em );
					clip-path: none;
				}
			}


		}
	}

	&__title {

		.pain--big & {
			flex-grow: 1;
			font-size: 5.75rem;
		}

		.pain--white & {
			color: black;
		}

		font-size: 6rem;
		font-weight: 500;
		letter-spacing: -0.03em;
		color: #fff;
		text-transform: uppercase;
		font-family: $primary-f2;
		line-height: 85%;
		white-space: nowrap;

    	@media screen and (max-width:$large_tablet) {
    		font-size: 3.6rem;
    		position: relative;
    		z-index: 2;
    	}

		.pain--big & {
			margin-bottom: 9rem;
    		@media screen and (max-width:$large_tablet) {
    			margin-bottom: 7rem;
    		}

		}


		.anim-line-wrap{

			&--color {
			color: #151515;

		.pain--white & {
			color: $red;
		}
		}
	}



			svg {
				transform: rotate(180deg);

				width: 4rem;
				height: auto;

				@media screen and (max-width:$large_tablet) {
					transform: rotate(90deg);
					width: 3rem;
    			}

				* {
				fill: rgba(white,0.3);
			}
		}


	}

	&__list {
		display: flex;
		gap: 0.5rem;
		position: relative;

				@media screen and (max-width:$large_tablet) {
					flex-wrap: wrap;
    			}


		&-title {
			font-size: 3rem;
			text-transform: uppercase;
			color: white;
			z-index: 2;
			font-weight: 500;
			font-family: $primary-f2;
			position: absolute;
			bottom: 100%;
			left: 0px;

			@media screen and (max-width:$large_tablet) {
				font-size: 1.6rem;
				color: $color--gray;
				bottom: calc( 100% + 1rem );
			}

		}
	}

	&__item {
		background: white;
		color: black;
		border-radius: 0.5rem;
		flex-grow: 1;
		flex-basis: 0;

				@media screen and (max-width:$large_tablet) {
					width: calc( 50% - 0.25rem );
					flex-grow: initial;
					flex-basis: initial;
    			}


		span {
			display: inline;
			color: $bg--white;
		}
		&--red {
			background: $red;
		}

		> div {
			width: 100%;
			padding-bottom: 100%;
			position: relative;
		}

		&-text {
			position: absolute;
			flex-direction: column;
			justify-content: flex-end;
			width: 100%;
			padding: 2.5rem;
			left: 0px;
			bottom: 0px;
			font-size: 2.3rem;
			font-weight: 500;
			line-height: 120%;
			letter-spacing: -0.05em;

				@media screen and (max-width:$large_tablet) {
					font-size: 1.6rem;
					padding: 0.8rem;
    			}

		}

		&-number {
			font-size: 3rem;
			font-weight: 500;
			top: 2.5rem;
			right: 2.5rem;
			position: absolute;
				@media screen and (max-width:$large_tablet) {
					font-size: 2rem;
					top: 1rem;
					right: 1rem;
				}

		}
	}

}