.policy {
    margin: 20rem 0px;

    h1 {
        font-size: 8rem;
        @media screen and (max-width:$large_tablet) {
            font-size: 4rem;
        }

    }

    .center-wrap {
        max-width: 100rem;
    }

    @media screen and (max-width:$large_tablet) {
        margin: 15rem 0px;
    }

    &__content {
        margin-top: 3rem;

        @media screen and (max-width:$large_tablet) {
            margin-top: 0;
        }
    }
}