.popup-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;

    &--end {
        align-items: flex-end;

        .popup {
            max-height: 95vh !important;

            @media screen and (max-width:$large_mobile) {
                max-height: 90vh !important;
            }
        }
    }

    &--active {
        display: flex;
    }

    &--menu {
        touch-action: none;
    }

    &--opacity1 {
        opacity: 1;
    }

    .popup {
        box-sizing: border-box;
        position: relative;
        justify-content: space-between;
        opacity: 0;
        top: -15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: opacity 0.6s, top 0.6s;
        // max-height: 95%;
        max-height: 100%;
        width: 100%;
        max-width: calc(116rem + 3rem);

        @media screen and (max-width:$large_tablet) {
            max-width: calc(70rem + 3rem);
            align-items: center;
        }

        &--menu {
            box-shadow: none;
            background: transparent;
            padding: 0px;
            flex-grow: 1;
            height: 100%;
            width: 100%;
            max-height: 100%;
            display: flex;
        }

        &--opacity1 {
            opacity: 1;
            top: 0px;
        }



        &__close {
            position: absolute;
            width: 5rem;
            height: 5rem;
            // background-color: $secondary-c;
            top: 0;
            right: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s;
            z-index: 3;

            &:hover {
                >div {
                    background: $secondary-c;
                }

            }

            div {
                transition: background 0.2s;
                width: 100%;
                height: 2px;
                width: 1.6rem;
                position: absolute;
                background: #000;
                z-index: 4;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }

        &__inner {
            box-shadow: 0px 1px 36px 13px rgba(21, 21, 21, 0.03);
            background: #fff;
            padding: 5rem 2rem;
            max-width: calc(100% - 3rem);
            width: 100%;
            max-height: 100%;
            overflow: auto;
            will-change: transform;
            text-align: center;
            scrollbar-width: thin;
            scrollbar-color: rgba(#655CED, .5) transparent;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(#655CED, .5) !important;
                border-radius: 10rem;
            }

            &::-webkit-scrollbar {
                width: 0.8rem;
            }

            &::-webkit-scrollbar-track {
                border-radius: 10rem;
                background: color;
            }
        }

        &__simple-title {
            margin-bottom: 3rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 1.5rem;
            }
        }
    }
}