.portfolio {
	position: relative;
	z-index: 2;
	margin: 40rem 0px;

    &__bg {
        position: absolute;
        background: $bg--black;
        width: 100%;
        height: 60rem;
        top: -1px;
        z-index: 1;
        transform: scaleY(1);
        transform-origin: top;
		@media screen and (max-width: $large_tablet) {
			display: none;
		}

    }


	&--home {
		margin: 0px;
	}

	.center-wrap {
		max-width: 100%;
	}

	@media screen and (max-width: $large_tablet) {
		margin: 10rem 0px;
		margin-bottom: 5rem;
	}


	&__title {
		.portfolio--home & {
			display: none;
		}
		font-size: 11rem;
		letter-spacing: -0.05em;
		line-height: 1;
		font-weight: 400;
		text-align: center;
		font-family: $primary-f2;
		margin-bottom: 10rem;

		@media screen and (max-width: $large_tablet) {
			margin-bottom: 5rem;
			font-size: 5rem;
			white-space: nowrap;
		}

	}

	&__item {
		width: 100%;
		height: calc( 100vh );
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: -5rem;
		overflow: hidden;
		border-radius: 2rem;
		padding: 5rem;
		background: $bg--black;

		&--white {
			color: black;
		}



	&::before {
		content: "";
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
		background-image: url('~img/svg/gradient--work1.svg');
		background-size: cover;
		z-index: 2;
	}

		&--work2::before {
			background-image: url('~img/svg/gradient--work2.svg');
			background-size: cover;
		}

		&--work3{
			background: white;
			&::before {
			background-image: url('~img/svg/gradient--work3.svg');
			background-size: cover;
			}
		}

		@media screen and (max-width: $large_tablet) {
			border-radius: 0.5rem 0.5rem 0px 0px;
			
		}

		&-img, &-img img {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}


		&-title {
			font-size: 10rem;
			font-weight: 500;
			text-transform: uppercase;
			z-index: 2;
			margin-right: auto;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, #FFFFFF 30%, #FFFFFF 75%, rgba(255, 255, 255, 0.4) 90%);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			-webkit-text-fill-color: transparent;

			.portfolio__item--white & {
				background-clip: initial;
				-webkit-background-clip: initial;
				-webkit-text-fill-color: initial;
				color: #333 !important;
				background: none !important;
			}
		}


		&-wrap {
			z-index: 2;
			margin: auto 0px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 5rem;
		}

		&-left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			max-width: 37rem;
		}

		&-date {
			font-size: 1.8rem;
			color: rgba(white,0.5);
				.portfolio__item--white & {
					color: #d9d9d9;
				}
		}

		&-video {
			width: 100%;
			max-width: 90rem;
			border-radius: 1rem;
			overflow: hidden;
			position: relative;
			> div {
				padding-bottom: calc( 500 / 900 * 100% );
			}
		}

		&-img, &-img img {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-right {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			gap: 2rem;
			width: 100%;
			max-width: 37rem;

			.btn {
				.portfolio__item--white & {
					border-color: rgba(black,0.15);
				}
			}
		}

		&-designer {
			text-align: right;
			font-size: 3rem;
			line-height: 110%;
			text-transform: uppercase;
			letter-spacing: -0.03em;
			font-family: $primary-f2;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, #FFFFFF 30%, #FFFFFF 75%, rgba(255, 255, 255, 0.4) 90%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
				.portfolio__item--white & {
					background: linear-gradient(90deg, #C7C1C1 0%, #000000 33%, #000000 61%, #C7C1C1 90%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
				}

		}

		&-tags {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			@media screen and (max-width: $large_tablet) {
				font-size: 1.4rem;
			}

			span {
				display: inline-block;
				font-size: 2rem;
				line-height: 120%;
				padding: 0rem 0.3em;
				border: 1px solid rgba(white,0.2);
				border-radius: 5rem;
				.portfolio__item--white & {
					border: 1px solid rgba(black,0.2);
				}
			}
		}
	}



	&__intro {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1.5rem;
		position: absolute;
		
		width: 300%;

		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%) scale(0.34);


		&-clip {
			margin-bottom: -1500px;
			overflow: hidden;
			@media screen and (max-width: $large_tablet) {
				display: none;
			}

		}

		&-wrap {
			overflow: hidden;
			width: 100%;
			height: 100vh;
			position: relative;
			margin-top: -33vh;
			@media screen and (max-width: $large_tablet) {
				margin-top: 0px;
			}

		}

	&-item {
		width: calc( 33% - 1.5rem);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			background: rgba(black,0.2);
			z-index: 2;
		}

		> div {
			padding-bottom: 78%;
		}

		@media screen and (max-width: $large_tablet) {
			width: calc( 33% - 0.8rem);
		}

		position: relative;
		overflow: hidden;
		flex-grow: 1;
		border-radius: 0.5rem;

		&:nth-child(2), &:nth-child(5), &:nth-child(8) {
			width: calc( 33% );
		}

		&--center {

			&::before {
				display: none;
			}
			
			> div {
				padding-bottom: 0px !important;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;

			}
		}

		&-video  {
			position: relative !important;
		}

		&-img, &-video {
				position: absolute;
				display: block;
				left: 0%;
				top: 0%;
				width: 100%;
				height: 100%;

				.portfolio__intro-item--center & {
					height: calc( 300vh / 3);
				}
				

				img,picture,video, iframe {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					transform: scale(1.5);
					object-fit: cover;
				}

				iframe {
					pointer-events: none;
					border: none !important;
				}

		}
	}

	}

}