.site-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 15vh;

    .simple-title {
        margin-bottom: 3rem;
    }

    &__subtitle {
        font-size: 2rem;
        margin-bottom: 3rem;
        width: 70%;
        margin: 0 auto 3rem;
        text-align: center;
    }

    &__list {
        margin: 3rem auto 0;
    }

    &__item {
        margin-bottom: 2rem;
        text-align: center;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__link {
        text-transform: uppercase;
        position: relative;
    }
}