.toogles {
    &__column {
        width: calc(50% - (5rem / 2));

        @media screen and (max-width:$large_tablet) {
            width: 100%;
        }
    }

    &__item {
        &-title {
            cursor: pointer;
        }

        &-content {

            .toogles:not(.toogles--mobile) & {

                display: inherit;
                flex-direction: inherit;
                justify-content: inherit;

                &[style*="display: block"] {
                    display: inherit !important;
                }

                display: none;

                >div {
                    display: inherit;
                    flex-direction: inherit;
                    flex-wrap: inherit;
                    justify-content: inherit;
                    align-items: inherit;
                    width: 100%;
                }

            }


            .toogles--mobile & {

                @media screen and (max-width: $large-tablet) {


                    display: inherit;
                    flex-direction: inherit;
                    justify-content: inherit;

                    &[style*="display: block"] {
                        display: inherit !important;
                    }

                    display: none;

                    >div {
                        display: inherit;
                        flex-direction: inherit;
                        flex-wrap: inherit;
                        justify-content: inherit;
                        align-items: inherit;
                        width: 100%;
                    }

                }

            }

        }

    }

}