.video-preload {
	position: relative;

	&__play {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		font-size: 0;
		cursor: pointer;
		transition: all .5s;

		&:hover {
			svg {
				fill: #ccc;
			}
		}

		svg {
			width: 2rem;
			fill: red;
			transition: all .5s;
		}
	}

	&--play {
		.video-preload__play {
			opacity: 0;
			visibility: hidden;
		}
	}
}