section.cta#cta
	.cta__bg
	.center-wrap
		.cta__main-title Are you sure you're not Losing profit? Just check it
		.cta__wrap
			.cta__left
				.cta__title Get a Detailed Prices<br class='mobile--hide'> of my last 3 works<br class='mobile--hide'> by email right now
				.cta__text I know you're thinking 'not now'. But you know,<br class='mobile--hide'> if not now with just 2 easy clicks, then never)
			+form({title:'Just leave a link, and I’ll send you an Estimate for Compare'})
