section.cta#cta
	.cta__bg
	.center-wrap
		.cta__main-title Are you sure you're not Losing profit? Just check it
		.cta__wrap
			.cta__left.toogles.toogles--fade
				.cta__tabs
					.cta__tab.toogles__item-title.toogles__item-title--active(data-toogles='1') Find Out Overpaid
					.cta__tab.toogles__item-title(data-toogles='2') Get last 3 Jobs Prices
				.toogles__item.toogles__item--active(data-toogles='1')
					.toogles__item-content(style='display: block;')
						div
							.cta__title Find out how much you Overpaid for your last project.
							.cta__text I know you're thinking 'not now'. But you know,<br class='mobile--hide'> if not now with just 2 easy clicks, then never)
				.toogles__item(data-toogles='2')
					.toogles__item-content
						div
							.cta__title Get a Detailed Prices of my last 3 works<br> by email right now
							.cta__text I know you're thinking 'not now'. But you know,<br class='mobile--hide'> if not now with just 2 easy clicks, then never)
			+form({title:'Just leave a link, and I’ll send you an Estimate for Compare'})
