footer.footer(class=footerClass)
	.center-wrap
		.footer__wrap
			.footer__text Feel free to contact me!)
			a.magnet-wrap(data-cov='10' href='mailto:alina@frontend-woman.com').cursor-hover
				.magnet-area
				.magnet-element
					.footer__email alina@frontend-woman.com
			+socials({})
