header.header(class=headerClass)
  .center-wrap
    .header__wrap
      a(href="index.html#home").header__logo.single-anchors.img-wrap ALINA
      nav.header__nav.mobile--hide
        ul.header__nav-list.anchors
              li.header__nav-item.header__nav-item
                a.header__nav-link.cursor-hover(href='/index.html#portfolio') Works
              li.header__nav-item.header__nav-item
                a.header__nav-link.cursor-hover(href='/services.html' data-anchors='false') Services
              li.header__nav-item.header__nav-item
                a.header__nav-link.cursor-hover(href='/offer.html#cta') Price
      .header__btn
        +btn({text:'Get last 3 Jobs Prices',arrow:true,link: '/offer.html#cta',class: 'single-anchors'})
      .header__burger.cursor-hover.header-anim.header-anim--desktop.header-anim--mobile
        span Menu
        .header__burger-wrap
          div
            div
            div
          div
            div
            div
          div