section.main-screen#home.at-block
	video(muted autoplay loop).main-screen__video
		source(src='assets/images/video/video.mp4' type='video/mp4')

	.main-screen__location 
		.main-screen__location-text Europe Based<br> Born in Ukraine
		.main-screen__location-icon
				.globe
					.globe-wrap
						.circle
						.circle
						.circle
						.circle-hor
						.circle-hor-middle

	.center-wrap
		.main-screen__photo.main-screen__photo--1
			div
				picture
					img(src='assets/images/png/alina1.png')
		.main-screen__photo.main-screen__photo--2
			div
				picture
					img(src='assets/images/png/alina2.png')
		.main-screen__photo.main-screen__photo--3
			div
				picture
					img(src='assets/images/png/alina3.png')
		h1.main-screen__title.at-element(data-at-name='atTitle' data-at-custom='true') 
			.letter F
			.letter r
			.letter o
			.letter n
			.letter t
			.letter e
			.letter n
			.letter d
			.letter.letter--sep
				.sep.sep--hide
				.sep
			.letter W
			.letter o
			.letter r
			.letter d
			.letter p
			.letter r
			.letter e
			.letter s
			.letter s
			.letter &nbsp;&
			.letter &nbsp;W
			.letter e
			.letter b
			.letter f
			.letter l
			.letter o
			.letter w
			.letter &nbsp;D
			.letter e
			.letter v
			.letter e
			.letter l
			.letter o
			.letter p
			.letter e
			.letter r


