section.main-screen#home.at-block
	.main-screen__video-wrap
		video(muted autoplay loop).main-screen__video
			source(src='assets/images/video/final_c5.mp4' type='video/mp4')

	.main-screen__location
		.main-screen__location-wrap
			.main-screen__location-text Europe Based<br> Born in Ukraine
			.main-screen__location-icon
					.globe
						.globe-wrap
							.circle
							.circle
							.circle
							.circle-hor
							.circle-hor-middle

	.center-wrap
		h1.main-screen__title.at-element(data-at-name='atTitle' data-at-custom='true') 
			span.letter F
			span.letter r
			span.letter o
			span.letter n
			span.letter t
			span.letter e
			span.letter n
			span.letter d
			span.letter.letter--sep
				span.sep.sep--hide
				span.sep
			span.letter W
			span.letter o
			span.letter r
			span.letter d
			span.letter p
			span.letter r
			span.letter e
			span.letter s
			span.letter s
			span.letter &nbsp;&
			span.letter &nbsp;W
			span.letter e
			span.letter b
			span.letter f
			span.letter l
			span.letter o
			span.letter w
			span.letter &nbsp;&nbsp;D
			span.letter e
			span.letter v
			span.letter e
			span.letter l
			span.letter o
			span.letter p
			span.letter e
			span.letter r


