section.mission.mission--home
	.mission__bg
	.center-wrap
		.mission__wrap
			.mission__list
				.mission__row.mission__row--small
					| My Mission  
				.mission__row
					//- span.mobile--hide Our Mission  
					| INCREASE YOUR
					//- span.desktop--hide &nbsp;Your
					.mission__title-change.mobile--hide
						span.mission__title-change-base DESIGN VALUE
						div.mission__title-change-item.mission__title-change-item--active DESIGN VALUE
						div.mission__title-change-item.mission__title-change-item--hide DESIGN PROFIT
						.mission__arrow
							div
								div
									svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
				.mission__row.desktop--hide
					.mission__title-change
						span.mission__title-change-base DESIGN VALUE
						div.mission__title-change-item.mission__title-change-item--active DESIGN VALUE
						div.mission__title-change-item.mission__title-change-item--hide DESIGN PROFIT
						.mission__arrow
							div
								div
									svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
					span.mission__row-dark.desktop--hide VIA 
				.mission__row
					span.mission__row-dark.mobile--hide VIA 
					.mission__title-change
						span.mission__title-change-base  HIGH STANDART
						div.mission__title-change-item.mission__title-change-item--active  HIGH STANDART
						div.mission__title-change-item.mission__title-change-item--hide COST-EFFECTIVE
						.mission__arrow
							div
								div
									svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
					span.mission__row-dark.mobile--hide DEVELOPMENT
				.mission__row.desktop--hide
					span.mission__row-dark DEVELOPMENT