.mobile-menu
  .mobile-menu__wrap.mobile-menu__wrap--left
    .mobile-menu__top 
      a(href="index.html#home").mobile-menu__logo.single-anchors Alina
      .mobile-menu__close.cursor-hover
        .mobile-menu__close-text Close
        .mobile-menu__close-wrap
          div
          div
    nav.mobile-menu__nav
      ul.mobile-menu__nav-list.anchors
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="index.html#home").cursor-hover Home
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="index.html#portfolio").cursor-hover Portfolio
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="services.html" data-anchors='false').cursor-hover Services
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="offer.html#cta").cursor-hover Price
    .mobile-menu__email alina@alina-frontend.com
    +socials({})