section.policy
    .center-wrap
        .policy__content.content
            h2 Политика конфиденциальности
            ul 
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat fugit unde cum. Ducimus libero magnam doloremque enim incidunt, laboriosam repudiandae quae eaque adipisci molestias? At, laudantium. Aperiam voluptate quis eum fugiat temporibus similique nostrum nam aut perferendis quas impedit, alias vel dicta praesentium tempora harum rem animi atque quae doloribus illo, tenetur distinctio! Omnis, ab delectus?
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nam fuga esse deserunt, accusantium repudiandae? Illum, quibusdam expedita? Veniam explicabo vero modi quam necessitatibus similique, sapiente ad velit quidem odio nostrum iusto sequi officiis.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aperiam nulla error maiores eius sint quisquam commodi deserunt accusamus ducimus.
            h3 Политика конфиденциальности
            ol 
                li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, velit perferendis blanditiis facilis consequuntur dolorum incidunt debitis deserunt nesciunt sed, beatae possimus voluptate dolore, repellat architecto fugit corrupti? Omnis, cumque!
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ex, sequi velit saepe consequatur sit facere, nihil quisquam delectus quasi possimus, quod exercitationem odit atque doloribus! Dignissimos sunt exercitationem quae
                li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quo repellendus sunt dolor nihil quisquam aspernatur tenetur aliquam eum! Quas itaque dicta veritatis neque enim hic amet cumque dolorem? Dolorum.
            h4 Политика конфиденциальности
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis fuga repellendus, ab atque deleniti consectetur. Rerum autem, maiores earum dolorem eius recusandae impedit consectetur fuga tempora quod ipsam. Provident, est!
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis fuga repellendus, ab atque deleniti consectetur. Rerum autem, maiores earum dolorem eius recusandae impedit consectetur fuga tempora quod ipsam. Provident, est!