#thank-you.popup-wrap
    .popup
        .popup__close(onclick="close_popup('thank-you')")
            div
            div
        .popup__inner
            .popup__simple-title.simple-title Спасибо!
            .popup__content.content 
                p Ваша заявка успешно отправлена.