section.portfolio#portfolio.portfolio--home
	.portfolio__bg
	.center-wrap.at-block
		h2.portfolio__title.simple-title My Portfolio
	div.pin-title-block
		.portfolio__intro-clip
			.portfolio__intro-wrap
				.portfolio__intro
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.png')
								img(src='assets/images/portfolio/intro3x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro3x1.png 1x, assets/images/portfolio/intro3x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.png')
								img(src='assets/images/portfolio/intro5x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro5x1.png 1x, assets/images/portfolio/intro5x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio2.webp')
								img(src='assets/images/portfolio/portfolio2.png')
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio2.webp')
								img(src='assets/images/portfolio/portfolio2.png')
					.portfolio__intro-item.portfolio__intro-item--center
						div
							div.portfolio__intro-item-video
								//- video(playsinline loop autoplay muted)
									source(type="video/mp4" src="assets/images/mp4/showreel.mp4")
								<iframe id="player2" width="600" height="400" src="https://www.youtube.com/embed/tE6-bZb6QKQ?autoplay=1&mute=1&loop=1&playlist=tE6-bZb6QKQ&enablejsapi=1&controls=0" title="A&amp;T.studio Showreel" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.png')
								img(src='assets/images/portfolio/intro3x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro3x1.png 1x, assets/images/portfolio/intro3x2.png 2x")
					
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio15.webp')
								img(src='assets/images/portfolio/portfolio15.png')
					
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.png')
								img(src='assets/images/portfolio/intro5x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro5x1.png 1x, assets/images/portfolio/intro5x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro1x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro1x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro1x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro1x2.png')
								img(src='assets/images/portfolio/intro1x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro1x1.png 1x, assets/images/portfolio/intro1x2.png 2x")
		.portfolio__list
			.portfolio__item
				picture.portfolio__item-img
					source(media="(min-width: 1024px)" type="image/webp" srcset="assets/images/portfolio/portfolio5.webp")
					source(media="(min-width: 1024px)" type="image/png" srcset="assets/images/portfolio/portfolio5.png")
					source(type="image/webp" srcset="assets/images/portfolio/portfolio5.webp")
					img(src="assets/images/portfolio/portfolio5.png" alt="Responsive image")
				.portfolio__item-content.portfolio__item-content--mix
					h3.portfolio__item-title atstudio1
					.portfolio__item-middle
						.portfolio__item-text Creative Awwwards Frontend Development 
						.portfolio__item-tags
							span HTML-codding
							span GSAP Animations
							span Awwwards
					+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://atstudio1.com',target:'_blank'})
			//- .portfolio__item
			//- 	picture.portfolio__item-img
			//- 		source(media="(min-width: 1024px)" type="image/webp" srcset="assets/images/portfolio/portfolio1.webp")
			//- 		source(media="(min-width: 1024px)" type="image/png" srcset="assets/images/portfolio/portfolio1.png")
			//- 		source(type="image/webp" srcset="assets/images/portfolio/portfolio1.webp")
			//- 		img(src="assets/images/portfolio/portfolio1.png" alt="Responsive image")
			//- 	.portfolio__item-content
			//- 		h3.portfolio__item-title TATTOO
			//- 		.portfolio__item-middle
			//- 			.portfolio__item-text Creative Awwwards Frontend Development 
			//- 			.portfolio__item-tags
			//- 				span HTML-codding
			//- 				span GSAP Animations
			//- 				span Awwwards
			//- 		+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://tattoo.atstudio1.com/',target:'_blank'})
			.portfolio__item
				picture.portfolio__item-img
					source(media="(min-width: 1024px)" type="image/webp" srcset="assets/images/portfolio/portfolio16.webp")
					source(media="(min-width: 1024px)" type="image/png" srcset="assets/images/portfolio/portfolio16.png")
					source(type="image/webp" srcset="assets/images/portfolio/portfolio16.webp")
					img(src="assets/images/portfolio/portfolio16.png" alt="Responsive image")
				.portfolio__item-content
					h3.portfolio__item-title SadBears NFT
					.portfolio__item-middle
						.portfolio__item-text Creative Awwwards Frontend Development 
						.portfolio__item-tags
							span HTML-codding
							span GSAP Animations
							span Awwwards
					+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://sadbears.atstudio1.com',target:'_blank'})
			.portfolio__item
				picture.portfolio__item-img
					source(media="(min-width: 1024px)" type="image/webp" srcset="assets/images/portfolio/portfolio4.webp")
					source(media="(min-width: 1024px)" type="image/png" srcset="assets/images/portfolio/portfolio4.png")
					source(type="image/webp" srcset="assets/images/portfolio/portfolio4.webp")
					img(src="assets/images/portfolio/portfolio4.png" alt="Responsive image")
				.portfolio__item-content.portfolio__item-content--mix
					h3.portfolio__item-title Edna
					.portfolio__item-middle
						.portfolio__item-text Wordpress & Frontend Development
						.portfolio__item-tags
							span HTML-codding
							span GSAP Animations
							span Wordpress
					+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://edna.atstudio1.com/home.html',target:'_blank'})