section.portfolio#portfolio.portfolio--home
	.portfolio__bg
	.center-wrap.at-block
		h2.portfolio__title.simple-title My Portfolio
	div.pin-title-block
		.portfolio__intro-clip
			.portfolio__intro-wrap
				.portfolio__intro
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.png')
								img(src='assets/images/portfolio/intro3x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro3x1.png 1x, assets/images/portfolio/intro3x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.png')
								img(src='assets/images/portfolio/intro5x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro5x1.png 1x, assets/images/portfolio/intro5x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio2.webp')
								img(alt='intro-img' src='assets/images/portfolio/portfolio2.png')
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio2.webp')
								img(alt='intro-img' src='assets/images/portfolio/portfolio2.png')
					.portfolio__intro-item.portfolio__intro-item--center.cursor-video#open-video
						div
							div.portfolio__intro-item-video
								<iframe id="player2" width="600" height="400" data-src="https://www.youtube.com/embed/m1Hn8lUqVm4?autoplay=1&mute=1&loop=1&enablejsapi=1&controls=0&playlist=m1Hn8lUqVm4" title="Frontend-Woman Showreel" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					.portfolio__intro-item.img-parallaxx
						div

							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.png')
								img(src='assets/images/portfolio/intro3x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro3x1.png 1x, assets/images/portfolio/intro3x2.png 2x")
					
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio15.webp')
								img(alt='intro-img' src='assets/images/portfolio/portfolio15.png')
					
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.png')
								img(src='assets/images/portfolio/intro5x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro5x1.png 1x, assets/images/portfolio/intro5x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro1x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro1x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro1x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro1x2.png')
								img(src='assets/images/portfolio/intro1x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro1x1.png 1x, assets/images/portfolio/intro1x2.png 2x")
		.portfolio__list
			.portfolio__item.portfolio__item--work1
				.portfolio__item-title at-studio1
				.portfolio__item-designer.desktop--hide
					span Designed by 
					a(target='_blank' href='https://atstudio1.com') atstudio1
				.portfolio__item-wrap
					.portfolio__item-left
						.portfolio__item-tags
							span HTML
							span CSS
							span SCSS
							span PUG
							span WEBPACK
							span BEM
							span GIT
							span JS
							span GSAP
							span ANIMATIONS
						.portfolio__item-date 04.03.2024

					.portfolio__item-video
						div
							video(autoplay, loop, muted, preload="none")
								source(data-src='assets/images/video/work-video1.mp4', type='video/mp4')
					.portfolio__item-right
						.portfolio__item-designer.mobile--hide
							span Designed by 
							a(target='_blank' href='https://atstudio1.com') atstudio1
						+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://atstudio1.com',target:'_blank'})
			.portfolio__item.portfolio__item--work2
				.portfolio__item-title Mystic Tarot
				.portfolio__item-designer.desktop--hide
					span Designed by 
					a(target='_blank' href='https://halo-lab.com') halo-lab
				.portfolio__item-wrap
					.portfolio__item-left
						.portfolio__item-tags
							span HTML
							span CSS
							span SCSS
							span PUG
							span WEBPACK
							span BEM
							span GIT
							span JS
							span GSAP
							span ANIMATIONS
							span WORDPRESS
						.portfolio__item-date 04.03.2024

					.portfolio__item-video
						div
							video(autoplay, loop, muted, preload="none")
								source(data-src='assets/images/video/work-video2.mp4', type='video/mp4')
					.portfolio__item-right
						.portfolio__item-designer.mobile--hide
							span Designed by 
							a(target='_blank' href='https://halo-lab.com') halo-lab
						+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://join-mystic.com',target:'_blank'})
			.portfolio__item.portfolio__item--work3.portfolio__item--white
				.portfolio__item-title EDNA
				.portfolio__item-designer.desktop--hide
					span Designed by 
					a(target='_blank' href='https://atstudio1.com') atstudio1
				.portfolio__item-wrap
					.portfolio__item-left
						.portfolio__item-tags
							span HTML
							span CSS
							span SCSS
							span PUG
							span WEBPACK
							span BEM
							span GIT
							span JS
							span GSAP
							span ANIMATIONS
							span WORDPRESS
						.portfolio__item-date 04.03.2024

					.portfolio__item-video
						div
							video(autoplay, loop, muted, preload="none")
								source(data-src='assets/images/video/work-video3.mp4', type='video/mp4')
					.portfolio__item-right
						.portfolio__item-designer.mobile--hide
							span Designed by 
							a(target='_blank' href='https://atstudio1.com') atstudio1
						+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://edna.atstudio1.com/home.html',target:'_blank'})