section.portfolio#portfolio.portfolio--home
	.portfolio__bg
	.center-wrap.at-block
		h2.portfolio__title.simple-title My Portfolio
	div.pin-title-block
		.portfolio__intro-clip
			.portfolio__intro-wrap
				.portfolio__intro
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.png')
								img(src='assets/images/portfolio/intro3x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro3x1.png 1x, assets/images/portfolio/intro3x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.png')
								img(src='assets/images/portfolio/intro5x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro5x1.png 1x, assets/images/portfolio/intro5x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio2.webp')
								img(alt='intro-img' src='assets/images/portfolio/portfolio2.png')
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio2.webp')
								img(alt='intro-img' src='assets/images/portfolio/portfolio2.png')
					.portfolio__intro-item.portfolio__intro-item--center
						div
							div.portfolio__intro-item-video
								//- video(playsinline loop autoplay muted)
									source(type="video/mp4" src="assets/images/mp4/showreel.mp4")
								<iframe id="player2" width="600" height="400" src="https://www.youtube.com/embed/tE6-bZb6QKQ?autoplay=1&mute=1&loop=1&playlist=tE6-bZb6QKQ&enablejsapi=1&controls=0" title="A&amp;T.studio Showreel" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro3x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro3x2.png')
								img(src='assets/images/portfolio/intro3x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro3x1.png 1x, assets/images/portfolio/intro3x2.png 2x")
					
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" srcset='assets/images/portfolio/portfolio15.webp')
								img(alt='intro-img' src='assets/images/portfolio/portfolio15.png')
					
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro5x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro5x2.png')
								img(src='assets/images/portfolio/intro5x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro5x1.png 1x, assets/images/portfolio/intro5x2.png 2x")
					.portfolio__intro-item.img-parallaxx
						div
							picture.portfolio__intro-item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro1x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro1x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/intro1x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/intro1x2.png')
								img(src='assets/images/portfolio/intro1x1.png' alt="Responsive image" srcset="assets/images/portfolio/intro1x1.png 1x, assets/images/portfolio/intro1x2.png 2x")
		.portfolio__list
			.portfolio__item.portfolio__item--work1
				.portfolio__item-title at-studio1
				.portfolio__item-wrap
					.portfolio__item-left
						.portfolio__item-tags
							span HTML-codding
							span GSAP Animations
							span Awwwards
						.portfolio__item-date 04.03.2024

					.portfolio__item-video
						div
							picture.portfolio__item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/new/work1x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/new/work1x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/new/work1x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/new/work1x2.png')
								img(src='assets/images/portfolio/new/work1x1.png' alt="Responsive image" srcset="assets/images/portfolio/new/work1x1.png 1x, assets/images/portfolio/new/work1x2.png 2x")
					.portfolio__item-right
						.portfolio__item-designer
							span Designed by
							a atstudio1
						+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://atstudio1.com',target:'_blank'})
			.portfolio__item.portfolio__item--work2
				.portfolio__item-title Mystic Tarot
				.portfolio__item-wrap
					.portfolio__item-left
						.portfolio__item-tags
							span HTML-codding
							span GSAP Animations
							span Awwwards
						.portfolio__item-date 04.03.2024

					.portfolio__item-video
						div
							picture.portfolio__item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/new/work2x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/new/work2x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/new/work2x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/new/work2x2.png')
								img(src='assets/images/portfolio/new/work2x1.png' alt="Responsive image" srcset="assets/images/portfolio/new/work2x1.png 1x, assets/images/portfolio/new/work2x2.png 2x")
					.portfolio__item-right
						.portfolio__item-designer
							span Designed by
							a atstudio1
						+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://atstudio1.com',target:'_blank'})
			.portfolio__item.portfolio__item--work3.portfolio__item--white
				.portfolio__item-title EDNA
				.portfolio__item-wrap
					.portfolio__item-left
						.portfolio__item-tags
							span HTML-codding
							span GSAP Animations
							span Wordpress
						.portfolio__item-date 04.03.2024

					.portfolio__item-video
						div
							picture.portfolio__item-img
								source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/new/work3x1.webp')
								source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/new/work3x2.webp')
								source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/portfolio/new/work3x1.png')
								source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/portfolio/new/work3x2.png')
								img(src='assets/images/portfolio/new/work3x1.png' alt="Responsive image" srcset="assets/images/portfolio/new/work3x1.png 1x, assets/images/portfolio/new/work3x2.png 2x")
					.portfolio__item-right
						.portfolio__item-designer
							span Designed by
							a atstudio1
						+btn({class:'btn--link',text:'Live Website',arrow:true,link:'https://edna.atstudio1.com/home.html',target:'_blank'})