.preloader
	div.preloader__content
		div.preloader__title
			span.anim-line YOU DESIGN
				span.color .
			span.anim-line
				|  I DEVELOP
				span.color .
script.
	let preloader = document.querySelector('.preloader');

	if ( !(document.referrer.indexOf("frontend") == -1) || !(location.href.indexOf('localhost') == -1)) {
		preloader.remove();
		if ( window.its_desktop ){
			document.querySelector('body').classList.remove('body--firstpage');
		}
	}