.preloader
	div.preloader__content
		div.preloader__title
			div.preloader__title-line.preloader__title-line--one(data-at-name="atTitle" data-at-style='lines')
				span.anim-line-wrap
					span.anim-line
						| 80% of Designers 
				span.anim-line-wrap
					span.anim-line.color don’t have reliable Developers
				span.anim-line-wrap
					span.anim-line
						span Other 
						span.color Overpay for development

script.
	let preloader = document.querySelector('.preloader');

	if ( !(document.referrer.indexOf("frontend") == -1) || !(location.href.indexOf('localhost') == -1)) {
		preloader.remove();
		document.querySelector('body').classList.remove('body--firstpage');
	}