section.services#services
	.center-wrap.at-block
		.services__wrap
			.services__left
				.services__title.at-element(data-at-name='atItemsColumnSelf' data-at-selector='.services__title span')
					.anim-line-wrap
						span.anim-line I’m Provide
					.anim-line-wrap
						span.anim-line Cost Effective
					.anim-line-wrap
						span.anim-line High Standard
					.anim-line-wrap
						span.anim-line Development
				.services__text.at-element(data-at-name='atItemsColumnSelf' data-at-selector='.services__text span')
					span  • Perfect Pixel
					span  • Attention to Details
					br
					span  • Sense of Style
					span  • No Headeach
			.services__right
				.services__list.cursor-services.at-element.toogles(data-at-name='atItemsColumnSelf' data-at-selector='.services__item')
							.services__item(data-image='8').toogles__item-title(data-toogles='8')
								.services__item-numb-wrap
									.services__item-numb 01
								h3.services__item-title Wordpress
								.services__item-arrow
									svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
							.toogles__item(data-toogles='8')
									.toogles__item-content
										div
											.services__item-content
												.services__item-content-stack
														span Wordpress
														span JS
														span PHP
														span mySQL
														span Woocommerce
														span ACF
														span Multilingual
												.services__item-content-text.content
													p Wordpress is my strong side, as it is the only back-end technology that I provide:
													p <b>Other Developers:</b> Node, React, Next, Angular, Python AND DANCE...
													p <b>Me:</b> Only WordPress.
													p Just write to me and I will provide your project estimate right now!)


												.services__item-btns
													+btn({text:'Get last 3 Jobs Prices',arrow: true,class:'single-anchors',link:'cta'})
													+btn({text:'Estimate your last job',text2:'Find Out how match you Overpaid',arrow: true,class:'single-anchors btn--double',link:'cta'})
							.services__item(data-image='1').toogles__item-title(data-toogles='1')
								.services__item-numb-wrap
									.services__item-numb 02
								h3.services__item-title Webflow
								.services__item-arrow
									svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
							.toogles__item(data-toogles='1')
									.toogles__item-content
										div
											.services__item-content
												.services__item-content-stack
														span Webflow
														span No-Code Development
												.services__item-content-text.content Thanks to Webflow, you won't need to go through two stages — HTML-coddung & CMS implementation. Everything is done in one step, significantly saving budget and time. Just write to me and I will provide your project estimate right now!)
												.services__item-btns
													+btn({text:'Get last 3 Jobs Prices',arrow: true,class:'single-anchors',link:'cta'})
													+btn({text:'Estimate your last job',text2:'Find Out how match you Overpaid',arrow: true,class:'single-anchors btn--double',link:'cta'})
							.services__item(data-image='2').toogles__item-title(data-toogles='2')
								.services__item-numb-wrap
									.services__item-numb 03
								h3.services__item-title Woocommerce
								.services__item-arrow
									svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
							.toogles__item(data-toogles='2')
									.toogles__item-content
										div
											.services__item-content
												.services__item-content-stack
														span Wordpress
														span JS
														span PHP
														span mySQL
														span Woocommerce
														span ACF
														span multilingual
												.services__item-content-text.content I often develop online shops on WordPress ( Woocommerce ); I can implement an online store of any complexity. Just write to me and I will provide your project estimate right now!)
												.services__item-btns
													+btn({text:'Get last 3 Jobs Prices',arrow: true,class:'single-anchors',link:'cta'})
													+btn({text:'Estimate your last job',text2:'Find Out how match you Overpaid',arrow: true,class:'single-anchors btn--double',link:'cta'})
							.services__item(data-image='3').toogles__item-title(data-toogles='3')
								.services__item-numb-wrap
									.services__item-numb 04
								h3.services__item-title Animations
								.services__item-arrow
									svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
							.toogles__item(data-toogles='3')
									.toogles__item-content
										div
											.services__item-content
												.services__item-content-stack
														span GSAP
														span JS
														span CSS
														span Afther Effects
														span AWWWWARDS
												.services__item-content-text.content Awwwards-level animations are my Strong Suit. Top Design and Branding Agencies turn to me for Animations. I usually create animations without the designer's technical task, relying on my own taste (without Adobe After Effects). Just take a look at my portfolio!)

												.services__item-btns
													+btn({text:'Get last 3 Jobs Prices',arrow: true,class:'single-anchors',link:'cta'})
													+btn({text:'Estimate your last job',text2:'Find Out how match you Overpaid',arrow: true,class:'single-anchors btn--double',link:'cta'})
							.services__item(data-image='4').toogles__item-title(data-toogles='4')
								.services__item-numb-wrap
									.services__item-numb 05
								h3.services__item-title HTML-Codding
								.services__item-arrow
									svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
							.toogles__item(data-toogles='4')
									.toogles__item-content
										div
											.services__item-content.content
												.services__item-content-stack
														span CSS
														span HTML
														span JS
														span jQuery
														span Webpack
														span Gulp
														span SCSS/SASS/LESS
														span PUG
														span GSAP
														span BEM
														span GoogleSpeed
														span Web Accessibility
														span GIT
												.services__item-content-text.content
													p I don't just implement Design layouts. After my development, they look no worse, as usually happens with developer - but BETTER than in figma.
													ul
														li PerfectPixel;
														li Attention to Details;
														li Free Light Animation;
														li Google Speed 100/100
														li Fully Valid & Cross-Browser Code
													p Just write to me and I will provide your project estimate right now!)
												.services__item-btns
													+btn({text:'Get last 3 Jobs Prices',arrow: true,class:'single-anchors',link:'cta'})
													+btn({text:'Estimate your last job',text2:'Find Out how match you Overpaid',arrow: true,class:'single-anchors btn--double',link:'cta'})