@font-face {
    font-family: 'Satoshi';
    src: url('~fonts/Satoshi/Satoshi-Light.ttf') format('truetype'), url('~fonts/Satoshi/Satoshi-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('~fonts/Satoshi/Satoshi-Regular.ttf') format('truetype'), url('~fonts/Satoshi/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url('~fonts/Satoshi/Satoshi-Medium.ttf') format('truetype'), url('~fonts/Satoshi/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('~fonts/Satoshi/Satoshi-Bold.ttf') format('truetype'), url('~fonts/Satoshi/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sohne';
    src: url('~fonts/Sohne/TestSohneBreit-Light.otf') format(opentype), url('~fonts/Sohne/TestSohneBreit-Light.otf') format(opentype);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('~fonts/Sohne/TestSohneBreit-Regular.otf') format(opentype), url('~fonts/Sohne/TestSohneBreit-Regular.otf') format(opentype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sohne';
    src: url('~fonts/Sohne/TestSohneBreit-SemiBold.otf') format(opentype), url('~fonts/Sohne/TestSohneBreit-SemiBold.otf') format(opentype);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sohne';
    src: url('~fonts/Sohne/TestSohneBreit-DemiBold.otf') format(opentype), url('~fonts/Sohne/TestSohneBreit-DemiBold.otf') format(opentype);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sohne';
    src: url('~fonts/Sohne/TestSohneBreit-Bold.otf') format(opentype), url('~fonts/Sohne/TestSohneBreit-Bold.otf') format(opentype);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sohne';
    src: url('~fonts/Sohne/TestSohneBreit-ExtraBold.otf') format(opentype), url('~fonts/Sohne/TestSohneBreit-ExtraBold.otf') format(opentype);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('~fonts/Sohne/TestSohneBreit-Black.otf') format(opentype), url('~fonts/Sohne/TestSohneBreit-Black.otf') format(opentype);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

