// Font
$primary-f:'Satoshi', sans-serif;
$primary-f2:'Sohne', sans-serif;

// Color
/*$primary: #C8FF54;*/
$primary: #141DEA;
/*$primary: blue;*/


$primary-c: #949794;
$secondary-c:#ccc;
$danger-c:#ff0000;
/*$bg--black: #29292F;*/
/*$bg--black: #302f38;*/
/*$bg--black: #0b0a17;*/
$bg--black: #343340;

$bg--white: #f7f7f7;
$color--gray: #949794;
$color--white: #fff;
$red: #FC1234;

$footer-height: 13rem;

$white: #fff;
$white2: #E6E6E6;

$p-page: 100;
$p-page-tablet: 45;
$p-page-mobile: 15;


$wrap:1720;
$wrap_tablet: 768;
$wrap_mobile: 340;


// Media
$large_desktop: $wrap + $p-page *2px; // 50 - отступы, которые мы хотим оставить по бокам
$large_tablet: 1023px;
$large_mobile: 480px;