mixin pain(params)
	.section.pain(class=params.class).cursor-white
		.pain__bg
		.center-wrap
			.pain__wrap
				.pain__number
					span.letter-h
						span.pain__number-shadow
						| H
					span.letter-e
						span.pain__number-shadow
						| E
					span.letter-a
						span.pain__number-shadow
						| A
					span.letter-d
						span.pain__number-shadow
						| D
					span.letter-e
						span.pain__number-shadow
						| E
					span.letter-a
						span.pain__number-shadow
						| A
					span.letter-c
						span.pain__number-shadow
						| C
					span.letter-h
						span.pain__number-shadow
						| H
				.pain__title
					.anim-line-wrap
						.anim-line and what
					.anim-line-wrap
						.anim-line do they get?
					.anim-line-wrap.anim-line-wrap--color
						.anim-line f*cking headeach
					.anim-line-wrap
						.anim-line looks familar?)
			if !params.homepage
				.pain__list
					.pain__list-title Just APPROX Math:
					.pain__item
						div
							.pain__item-number 01
							.pain__item-text Designer working<br> 1920 hours per year<br class='desktop--hide'> ( 12*160h)
					.pain__item
						div
							.pain__item-number 02
							.pain__item-text Usually Same hours<br> need to implement<br class='desktop--hide'>  this Design
					.pain__item.pain__item--red
						div
							.pain__item-number 03
							.pain__item-text
								| Overpaying just $10<br> hourly could cut <span><br class='desktop--hide'> $19,200<br class='mobile--hide'>   from Your<br class='desktop--hide'> Budget Every Year.</span>
					.pain__item.pain__item--red
						div
							.pain__item-number 04
							.pain__item-text Scope Overestimation<br>25% could cost  your Agency <br class='mobile--hide'><span>$15,000 annually as well.</span>
		if params.homepage
			include ../includes/ticker