mixin socials(params)
	.socials
				//- .magnet-wrap(data-cov='3').cursor-hover
				//- 	.magnet-area
				//- 	.magnet-element
				//- 				a.socials__link
				//- 					svg(width='46' height='46' viewbox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 						path(d='M37.1611 6.11927C36.6886 6.14124 36.2437 6.27857 35.8482 6.43238H35.8427C35.4417 6.59168 33.5356 7.39368 30.6407 8.60767C27.7458 9.82716 23.9884 11.4092 20.2586 12.9802C12.8099 16.1168 5.48747 19.204 5.48747 19.204L5.57536 19.171C5.57536 19.171 5.06999 19.3358 4.54265 19.6984C4.27348 19.8742 3.97685 20.1159 3.71867 20.4949C3.4605 20.8739 3.25175 21.4562 3.32866 22.0549C3.455 23.0712 4.11418 23.6809 4.58659 24.016C5.0645 24.3566 5.52043 24.5159 5.52043 24.5159H5.53142L12.3979 26.8285C12.7055 27.8173 14.4908 33.684 14.9192 35.0353C15.1719 35.8428 15.4191 36.3482 15.7267 36.7327C15.875 36.9304 16.0508 37.0952 16.2596 37.2271C16.342 37.2765 16.4299 37.3149 16.5177 37.3479C16.5452 37.3644 16.5727 37.3699 16.6056 37.3754L16.5342 37.3589C16.5562 37.3644 16.5727 37.3809 16.5892 37.3864C16.6441 37.4028 16.6825 37.4083 16.754 37.4193C17.8416 37.7489 18.715 37.0732 18.715 37.0732L18.7644 37.0348L22.8184 33.3434L29.6134 38.5564L29.7673 38.6223C31.1845 39.243 32.6182 38.897 33.3763 38.2872C34.1398 37.672 34.4364 36.8865 34.4364 36.8865L34.4859 36.7601L39.7373 9.86011C39.8857 9.19544 39.9241 8.57471 39.7593 7.97047C39.5945 7.36622 39.1716 6.80042 38.6607 6.4983C38.1443 6.19068 37.6335 6.0973 37.1611 6.11927ZM37.0182 9.00318C37.0127 9.09107 37.0292 9.08008 36.9908 9.25037V9.26685L31.7887 35.8867C31.7668 35.9252 31.7283 36.0076 31.6239 36.09C31.5141 36.1779 31.4262 36.2328 30.9703 36.0515L22.6591 29.6794L17.6383 34.2553L18.693 27.5206C18.693 27.5206 31.7118 15.3862 32.2721 14.8644C32.8324 14.3425 32.6457 14.2327 32.6457 14.2327C32.6841 13.5955 31.7997 14.0459 31.7997 14.0459L14.6775 24.6532L14.672 24.6257L6.46526 21.8627V21.8572C6.45976 21.8572 6.44878 21.8517 6.44328 21.8517C6.44878 21.8517 6.48723 21.8352 6.48723 21.8352L6.53117 21.8132L6.57512 21.7968C6.57512 21.7968 13.903 18.7096 21.3517 15.573C25.0816 14.002 28.8389 12.4199 31.7283 11.2004C34.6177 9.98646 36.7546 9.09656 36.8754 9.04713C36.9908 9.00318 36.9358 9.00318 37.0182 9.00318Z' fill='white')
				a.magnet-wrap(data-cov='3').cursor-hover(href='https://wa.me/380968037912' target="_blank")
					.magnet-area
					.magnet-element
							span.socials__link
								svg(width='39' height='40' viewbox='0 0 39 40' fill='red' xmlns='http://www.w3.org/2000/svg')
									g(clip-path='url(#clip0_821_1897)')
										path(d='M39.0001 19.5026C39.0001 29.9055 30.5012 38.3389 20.015 38.3389C16.6873 38.3389 13.5614 37.4877 10.8402 35.9973L0.330078 39.335L3.75612 29.2259C2.0286 26.3887 1.0337 23.0572 1.0337 19.5013C1.03496 9.09837 9.53134 0.665039 20.0175 0.665039C30.5024 0.667561 39.0001 9.09963 39.0001 19.5026ZM20.0137 3.66866C11.2135 3.66866 4.05497 10.7729 4.05497 19.5064C4.05497 22.9715 5.18479 26.1794 7.09515 28.7896L5.10283 34.6695L11.2336 32.7213C13.7556 34.3757 16.7731 35.339 20.0137 35.339C28.814 35.339 35.975 28.236 35.975 19.5026C35.9775 10.7729 28.8153 3.66866 20.0137 3.66866ZM29.6021 23.8416C29.4836 23.6512 29.1734 23.5352 28.7093 23.3031C28.2466 23.0711 25.9554 21.9552 25.5305 21.8038C25.1017 21.6488 24.7915 21.5706 24.4813 22.0333C24.1749 22.4961 23.2822 23.5352 23.0085 23.8453C22.7374 24.1543 22.4663 24.1934 22.001 23.9651C21.5357 23.7306 20.0352 23.2464 18.2572 21.674C16.8739 20.4483 15.9396 18.9389 15.6697 18.4762C15.3961 18.0147 15.642 17.765 15.8727 17.5355C16.0808 17.3274 16.338 16.9958 16.5713 16.7247C16.8046 16.4561 16.8815 16.2657 17.0366 15.9568C17.1892 15.6478 17.1123 15.3792 16.9975 15.146C16.8815 14.9139 15.9522 12.6442 15.5625 11.7199C15.1754 10.7969 14.7883 10.9495 14.5159 10.9495C14.2448 10.9495 13.9346 10.9116 13.6244 10.9116C13.3142 10.9116 12.8098 11.0239 12.3849 11.4866C11.96 11.9494 10.757 13.0654 10.757 15.3376C10.757 17.6124 12.4227 19.8052 12.656 20.1129C12.8905 20.4193 15.8765 25.2349 20.6064 27.0835C25.3388 28.9308 25.3388 28.3142 26.1912 28.236C27.0461 28.1578 28.9451 27.1201 29.331 26.0432C29.7194 24.9613 29.7194 24.0345 29.6021 23.8416Z' fill='white')
									defs
										clippath#clip0_821_1897
											rect(width='38.67' height='38.67' fill='white' transform='translate(0.330078 0.665039)')
				//- .magnet-wrap(data-cov='3').cursor-hover
				//- 	.magnet-area
				//- 	.magnet-element
				//- 			a.socials__link
				//- 				svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 					g(clip-path='url(#clip0_821_1924)')
				//- 						path(d='M5.00039 36H11.0004V13.8H5.00039V36ZM8.00039 4C6.00039 4 4.40039 5.6 4.40039 7.6C4.40039 9.6 6.00039 11.2 8.00039 11.2C10.0004 11.2 11.6004 9.6 11.6004 7.6C11.6004 5.6 10.0004 4 8.00039 4ZM21.2004 17.2V13.8H15.2004V36H21.2004V24.6C21.2004 18.2 29.4004 17.8 29.4004 24.6V36H35.4004V22.4C35.4004 11.6 24.0004 12 21.2004 17.2Z' fill='white')
				//- 					defs
				//- 						clippath#clip0_821_1924
				//- 							rect(width='40' height='40' fill='white')