extends ../layout/main

block variables
    - var title = 'homepage';
    - var homepage = true;
    - var headerClass = 'header--home';
    - var footerClass = 'footer--home';
block content
    include ../includes/main-screen
    include ../includes/numbers
    include ../includes/mission
    div.gsap-bg
        include ../includes/portfolio
        +pain({homepage:true, class:'pain--home'})
block footer
    include ../includes/footer


