extends ../layout/main

block variables
    - var title = 'Home';
    - var homepage = true;
    - var headerClass = 'header--home';
    - var footerClass = 'footer--home';
block content
    include ../includes/main-screen
    include ../includes/numbers
    include ../includes/mission
    div.gsap-bg
        include ../includes/portfolio
        +pain({offer:true,class:'pain--white pain--big'})
    include ../includes/cta
block footer
    include ../includes/footer


