extends ../layout/main

block variables
    - var title = 'Profit';
block content
    +pain({offer:true,class:'pain--white pain--big'})
    include ../includes/cta
block footer
    include ../includes/footer
