extends ../layout/main

block variables
    - var title = 'Services';
    - var homepage = true;
block content
    include ../includes/services
    include ../includes/cta
block footer
    include ../includes/footer