include ../mixins/mixins-loader
block variables

<!DOCTYPE html>
html(lang="ru")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='description' content='Text')
    title #{title}
    meta(name='theme-color' content='#cccccc')
    block link
      link(rel='icon' type='image/png' href='assets/images/png/favicon.png')
      link(rel='apple-touch-icon' href='assets/images/png/favicon.png')
      link(href='https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600&family=PT+Sans:wght@400;700&family=Roboto&display=swap' rel='stylesheet')

  body(id=pageClass)
    include ../includes/preloader
    .cursor
      .cursor__products
              .products__images
                .products__image.products__image--active(data-image='0')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product1x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product1x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product1x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product1x2.png')
                    img(src='assets/images/products/product1x1.png' alt="Responsive image" srcset="assets/images/products/product1x1.png 1x, assets/images/products/product1x2.png 2x")
                .products__image.products__image--active(data-image='1')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product1x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product1x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product1x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product1x2.png')
                    img(src='assets/images/products/product1x1.png' alt="Responsive image" srcset="assets/images/products/product1x1.png 1x, assets/images/products/product1x2.png 2x")
                .products__image(data-image='2')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product2x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product2x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product2x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product2x2.png')
                    img(src='assets/images/products/product2x1.png' alt="Responsive image" srcset="assets/images/products/product2x1.png 1x, assets/images/products/product2x2.png 2x")
                .products__image(data-image='3')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product3x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product3x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product3x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product3x2.png')
                    img(src='assets/images/products/product3x1.png' alt="Responsive image" srcset="assets/images/products/product3x1.png 1x, assets/images/products/product3x2.png 2x")
                .products__image(data-image='4')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product4x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product4x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product4x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product4x2.png')
                    img(src='assets/images/products/product4x1.png' alt="Responsive image" srcset="assets/images/products/product4x1.png 1x, assets/images/products/product4x2.png 2x")
                .products__image(data-image='5')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product5x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product5x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product5x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product5x2.png')
                    img(src='assets/images/products/product5x1.png' alt="Responsive image" srcset="assets/images/products/product5x1.png 1x, assets/images/products/product5x2.png 2x")
                .products__image(data-image='6')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product6x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product6x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product6x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product6x2.png')
                    img(src='assets/images/products/product6x1.png' alt="Responsive image" srcset="assets/images/products/product6x1.png 1x, assets/images/products/product6x2.png 2x")
                .products__image(data-image='7')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product7x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product7x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product7x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product7x2.png')
                    img(src='assets/images/products/product7x1.png' alt="Responsive image" srcset="assets/images/products/product7x1.png 1x, assets/images/products/product7x2.png 2x")
                .products__image(data-image='8')
                  picture
                    source(type="image/webp" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product8x1.webp')
                    source(type="image/webp" media="(min-resolution: 2dppx)" srcset='assets/images/products/product8x2.webp')
                    source(type="image/png" media="(max-resolution: 1.99dppx)" srcset='assets/images/products/product8x1.png')
                    source(type="image/png" media="(min-resolution: 2dppx)" srcset='assets/images/products/product8x2.png')
                    img(src='assets/images/products/product8x1.png' alt="Responsive image" srcset="assets/images/products/product8x1.png 1x, assets/images/products/product8x2.png 2x")
      .cursor__video Play
      .cursor__show
        p Show more
      .cursor__arrow
        svg( viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
    .body__wrap
      include ../includes/header
      #scrollbar
        main
          block content
        block footer
    include ../includes/mobile-menu
    include ../includes/popup
    block script
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js')
